*.o
*.cmi
*.cmx
ses
subsetphp
php-src/*
.README.md.un~
.bindings2.c.un~
.parser_hack.ml.un~
.test.ml.un~
.tmp.ml.un~
a.out
alloc_loop.ll
alloc_loop.s
benchmarks/.Makefile.un~
benchmarks/.binarytree.java.un~
benchmarks/.binarytrees.php.un~
benchmarks/.nbody.olle.un~
benchmarks/.nbody2.php.un~
benchmarks/Body.class
benchmarks/NBodySystem.class
benchmarks/a.out
benchmarks/binarytree.java
benchmarks/concat1
benchmarks/concat1.ll
benchmarks/llvm_test.bc
benchmarks/nbody
benchmarks/nbody.bc
benchmarks/nbody.class
benchmarks/nbody.java
benchmarks/nbody.ll
benchmarks/nbody.olle
benchmarks/nbody.s
benchmarks/nbody2
benchmarks/nbody2.bc
benchmarks/nbody2.ll
benchmarks/nbody2.php
benchmarks/nbody2.s
benchmarks/nbodyc.bc
benchmarks/nbodyc.ll
callgrind.out.17272
callgrind.out.4668
concat.ll
empty.php
experiment/a.out
experiment/promotable.cmo
gcinterface.h
gmon.out
hello.bc
hello.c
hello.ll
llvm.annot
llvm_test
llvm_test.bc
llvm_test.ll
llvm_test.s
llvm_test_gc.ll
llvm_test_gc.s
llvm_test_opt.bc
minml.annot
nbody.php
oUnit-tags-olle-GP60#00.log
oUnit-tags-olle-GP60#01.log
oUnit-tags-olle-GP60#02.log
oUnit-tags.cache
ocaml/asmrun/
ocaml/byterun/
ocaml/config/
ocaml/subsetphp_gc.a
ocaml_concat_benchmark.ml
php-extra/php_config.h
prof
semigc/.alloc2.c.un~
semispace.c
tags
test
test..bc
test.bc
test.ll
test.php.bc
test.s
test2
test_ll.ll
test_ll.s
tmp.bc
tmp.c
tmp.ll
tmp.ml
tmp.s
tmp/array.bc
tmp/array.ll
tmp/loadfromstruct.ll
tmp/loadfromstruct.s
tmp/loadfromstruct2.ll
tmp/loadfromstruct2.s
tmp/storemalloc.bc
tmp/storemalloc.ll
type.sml
type_test
type_test2
zend_types.ll
